<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Access Denied | Campus Connect</title>
  <link rel="stylesheet" th:href="@{/CSS/security/main.css}">

</head>
<body>
<div class="access-denied-container">
  <img th:src="@{/images/access-denied.png}" alt="Access Denied" class="access-denied-image">
  <h1 class="access-denied-title">Access Denied</h1>
  <p class="access-denied-message">You do not have permission to view this page.</p>
  <a href="/home" class="home-button">Return to Home</a>
</div>
</body>
</html>
