<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Error | Campus Connect</title>
    <link rel="stylesheet" th:href="@{/CSS/security/main.css}">
</head>
<body>
<div class="access-denied-container">
    <img alt="Access Denied" class="access-denied-image" th:src="@{/images/access-denied.png}">

    <h1 th:text="${error.statusCode}"></h1>
    <h1 th:text="${error.errorMessage}"></h1>


    <span th:if="${#authorization.expression('hasRole(''ROLE_HOD'')')}">
        <a class="home-button" th:href="@{/hod}">Home</a>
    </span>
    <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <a class="home-button" th:href="@{/admin}">Home</a>
</span>
    <span th:if="${#authorization.expression('hasRole(''ROLE_TEACHER'')')}">
    <a class="home-button" th:href="@{/teacher}">Home</a>
</span>
    <span th:if="${#authorization.expression('hasRole(''ROLE_STUDENT'')')}">
    <a class="home-button" th:href="@{/student}">Home</a>
</span>
</div>
</body>
</html>
