<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Error | Campus Connect</title>
    <link rel="stylesheet" th:href="@{/CSS/security/main.css}">
</head>
<body>
<div class="access-denied-container">
    <img alt="Access Denied" class="access-denied-image" th:src="@{/images/access-denied.png}">
    <h1 th:text="'Error ' + ${statusCode}"></h1>
    <p th:text="${errorMessage}"></p>

    <span th:if="${#authorization.expression('hasRole(''ROLE_HOD'')')}">
    <a th:href="@{/hod}" class="home-button">Home</a>
</span>
    <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <a th:href="@{/admin}" class="home-button">Home</a>
</span>
    <span th:if="${#authorization.expression('hasRole(''ROLE_TEACHER'')')}">
    <a th:href="@{/teacher}" class="home-button">Home</a>
</span>
    <span th:if="${#authorization.expression('hasRole(''ROLE_STUDENT'')')}">
    <a th:href="@{/student}" class="home-button">Home</a>
</span>
</div>
</body>
</html>
