<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/main-logo-black.jpeg}" type="image/png">
    <title>HOD Admin Page</title>
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/CSS/HOD/main.css}">
</head>
<body>
<div th:replace="hodViewPages/hodnavbar :: navbar"></div>
<div class="main-content">
    <div class="stats-container">
        <table class="stats-box">
            <thead>
            <tr>
                <td><h4><img th:src="@{SVGs/building-solid.svg}"> Department Name</h4></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${departmentName}"></td>
            </tr>
            </tbody>
        </table>

        <table class="stats-box">
            <thead>
            <tr>
                <td><h4><img th:src="@{SVGs/chalkboard-user-solid.svg}"> Total Faculty</h4></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${totalFaculty}"></td>
            </tr>
            </tbody>
        </table>

        <table class="stats-box">
            <thead>
            <tr>
                <td><h4><img th:src="@{SVGs/user-graduate-solid.svg}"> Total Students</h4></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${totalStudents}"></td>
            </tr>
            </tbody>
        </table>

        <table class="stats-box">
            <thead>
            <tr>
                <td><h4><img th:src="@{SVGs/gears-solid.svg}"> Total Courses</h4></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${totalCourses}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="action-buttons">
        <a class="text-white" th:href="@{/hod/add-course}">
            <button class="action-button">Add Course</button>
        </a>
        <a class="text-white" th:href="@{/hod/manage-course}">
            <button class="action-button">Manage Courses</button>
        </a>
        <a class="text-white" th:href="@{/hod/manage-subject}">
            <button class="action-button">Manage Subjects</button>
        </a>
    </div>
</div>
</body>
</html>