<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/main-logo-black.jpeg}" type="image/png">
    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"/>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/hod}">
                <img th:src="@{/loginResources/images/main-logo-white-transparent.png}" alt="Logo" class="navbar-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item d-flex align-items-center me-3">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success search-btn" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zm-5.442 1.032a5.5 5.5 0 1 1 7.778-7.778 5.5 5.5 0 0 1-7.778 7.778z"/>
                                </svg>
                            </button>
                        </form>
                    </li>
                    <li class="nav-item d-flex align-items-center me-3">
                        <form th:action="@{/hodViewPages/add-course}" method="get" style="display:inline;">
                            <button type="submit" class="btn btn-light text-dark me-2">Add Course</button>
                        </form>
                        <form th:action="@{/hodViewPages/manage-course}" method="get" style="display:inline;">
                            <button type="submit" class="btn btn-light text-dark">Manage Course</button>
                        </form>
                    </li>



                </ul>
                <form class="d-flex ms-auto">
                    <a href="/notifications" class="d-flex align-items-center me-3 custom-link notification-link" style="margin-right: 30px; color: white;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1a4.5 4.5 0 0 0-4.5 4.5v3.086l-.823 2.469A1 1 0 0 0 3.616 13h8.768a1 1 0 0 0 .939-1.445l-.823-2.469V5.5A4.5 4.5 0 0 0 8 1zm.5 10.5a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 1 0v1zM4 6.5a.5.5 0 0 1 1 0v2a.5.5 0 0 1-1 0v-2zm6 0a.5.5 0 0 1 1 0v2a.5.5 0 0 1-1 0v-2z"/>
                        </svg>
                    </a>
                    <select class="form-select" id="accountCenterDropdown" onchange="handleDropdownChange()" style="background: none; border: none; appearance: none; -webkit-appearance: none; -moz-appearance: none; padding-left: 0; background-image: url('/SVGs/account-setting.svg'); background-repeat: no-repeat; background-position: center; background-size: 45px; width: 45px; height: 45px;">
                        <option selected disabled></option>
                        <option value="/profile">View Profile</option>
                        <option value="/change-password">Change Password</option>
                        <option value="/logout">Logout</option>
                    </select>
                </form>
                <script>
                    function handleDropdownChange() {
                        var dropdown = document.getElementById("accountCenterDropdown");
                        var selectedValue = dropdown.value;
                        if (selectedValue) {
                            window.location.href = selectedValue;
                        }
                    }
                </script>
            </div>
        </div>
    </nav>
</div>


<script th:src="@{'https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js'}" integrity="sha384-oBqDVmMz4fnFO9gyb3g4r8OOkI1pA4UAI7G4f2XP5JlA5Pb5xBxg6l6p0CV0cDMK" crossorigin="anonymous"></script>
<script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js'}" integrity="sha384-cuYeBG7AnHgVIh3An8NLOc5KPL2DE1yY9b/n5ZWBsmcQomIwO2aH27PF7RF6N3je" crossorigin="anonymous"></script>

</body>
</html>
