body {
    height: 100vh;
    background: rgb(205, 117, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.content{
    width: 600px;
    background: rgb(255, 255, 255);
    box-shadow:  0 0 20px rgb(0, 0, 0, 0.2),
    0 5px 5px 0 rgb(0, 0, 0, 0.24);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius:3%;
}
.signin-form{
    color:#cd5907;
    text-align: center;
    border-bottom: 2px solid #cd5907;
    margin-bottom: 30px;
    padding: 10px;
    font-size:3vw;
    font-weight: bold;
}
#loginbox {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9); /* White background with opacity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}
.btn-custom {
    width: 100%;
    background-color: #00796b; /* Dark teal background color */
    color: white;
    border: none;
}
.btn-custom:hover {
    background-color: #004d40; /* Darker teal for hover */
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.image {
    margin-bottom: 10px;
}

.tagline {
    align-self: flex-end;
    font-size: 2em;
    color: black;
    font-family: "Lobster", sans-serif;
    font-weight: 500;
    font-style: normal;
}