<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/bootstrap.min.css}"/>
    <title>Update User</title>
    <link rel="stylesheet" th:href="@{/CSS/admin/userAddForm.css}">
</head>

<body>
<div th:replace="~{adminViewPages/navbar :: navbar}"></div>
<div class="container mt-4">
    <h1>Select User</h1>

    <!-- Form to Select User and Load Data -->

    <form method="POST" th:action="@{${action == 'update' ? '/admin/loadUser' : '/admin/deleteUser'}}">
        <div class="mb-3">
            <label class="form-label" for="userSelect">Select User</label>
            <select class="form-select" id="userSelect" name="userId" required>
                <option disabled selected value="">Select a user</option>
                <option th:each="u : ${userList}" th:text="${u.userId}" th:value="${u.userId}"></option>
            </select>
        </div>
        <button class="btn btn-primary" th:if="${action == 'update'}" type="submit">Load User</button>
        <button class="btn btn-danger" th:if="${action == 'delete'}" type="submit">Delete User</button>
    </form>


</div>
<script th:src="@{/vendor/bootstrap/bootstrap.bundle.min.js}"></script>
</body>
</html>
