body {
    height: 100vh;
    background: #007a7a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.content{
    width: 600px;
    background: rgb(255, 255, 255);
    box-shadow:  0 0 20px rgb(0, 0, 0, 0.2),
    0 5px 5px 0 rgb(0, 0, 0, 0.24);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius:3%;
}
.signin-form{
    color: #007a7a;
    text-align: center;
    border-bottom: 2px solid #007a7a;
    margin-bottom: 30px;
    padding: 10px;
    font-size:3vw;
    font-weight: bold;
}
#loginbox {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}
.btn-custom {
    width: 100%;
    background-color: #007a7a;
    color: white;
    border: none;
}
.btn-custom:hover {
    background-color: #005d5d;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.image {
    margin-bottom: 10px;
}

.tagline {
    align-self: flex-end;
    font-size: 2em;
    color: black;
    font-family: "Lobster", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.btn-home {
    padding: 5px 10px;
    font-size: 0.8em;
    background-color: #e0e0e0;
    color: #333;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-home:hover {
    background-color: #bdbdbd;
}
