<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Sample Programs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Upload Sample Programs </h2>
    <form th:action="@{teacher/upload}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Select Lecture Notes (PDF, DOCX, etc.)</label>
            <input type="file" class="form-control-file" id="file" name="file" accept=".pdf,.doc,.docx">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
</body>
</html>
